/* Типи селекторів */

/* Селектор зірочка  */
/* Шукаємо (робимо запит) до всіх об'єктів */
*{
	color: rgb(117, 59, 42);
}

/* Тип №1. Селектор тегу */
/* Шукаємо (робимо запит) по назві тегу */

/* Приклад */
/* Звертаємось/описуємо (шукаємо, робимо запит) до УСІХ 
	тегів A на сторінці 
*/
a{
	color: rgb(245, 142, 8);
}

h2{
	color: rgb(78, 103, 6);
}

header,footer{
	color: rgb(193, 193, 16);
}
/* Тип №2. Селектор класу */
/* Шукаємо (робимо запит по назві класу) */
/* спочатку КРАПКА потім ім'я класу */

/* Звертаємось/описуємо 
	(шукаємо, робимо запит) до УСІХ 
	тегів з класом subheader на сторінці 
*/
.subheader{
	color: rgb(64, 9, 120);
}

/* Тип №3. Селектор ID */
/* Шукаємо (робимо запит по назві ID) */
/* спочатку # потім ім'я ID */
#top{
	color: green;	
}

/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* Усі DIV з класом block-science-says */
div.block-science-says{
	color: rgb(7, 111, 111);
}
/* Усі теги з класами contents 
	та header одночасно 
	НІЯКИХ ПРОБІЛІВ МІЖ КЛАСАМИ!
*/
.contents.header {
	color: rgb(248, 63, 7);
}

/* Звертаємось відразу до кількох класів */

/* Звертаємось відразу до об'єктів li з класом block-try-method та
	до об'єктів li з класом block-how-learn
 */
.block-try-method li,
.block-how-learn li{
	color: rgb(10, 165, 236);
}

/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */
/* ОБОВ'ЯЗКОВО ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Усі теги P в середені об'єктів з класом block-science-says */
.block-science-says p{
	color: rgb(25, 132, 132);
}

.block-how-learn h4{
	color: rgb(204, 16, 217);
}

.text a {
	color: rgb(27, 195, 64);
}

.block-try-method a{
	color: black;

}

/* Усі об'єкти з класом text в середені об'єктів з класом block-which-using */
.block-which-using .text {
	color: rgb(95, 221, 17);

}



/* Усі об'єкти в середені 
об'єктів з класом block-how-learn */
.block-how-learn * {
	color: rgb(255, 0, 132);
}



/* Усі теги P першого рівня (безпосередні) в середені об'єктів з класом block-text */
.block-text > p{
	color: rgb(213, 213, 8);
}

.content-sublist>li{
	color: rgb(6, 255, 85);
}

.subblock-useful-websites>p{
	color: rgb(234, 97, 170);
}


/*
Усі теги P які знаходяться 
далі по коду після об'єктів з класом header
та мають той самий рівень вкладеності
*/
.header ~ p{
	color: blue;
}

.paragraph~p{
	color: rgb(42, 165, 136);
}

.img~p{
	color: blueviolet;
}

/*
Тег P який знаходяться беспосередньо 
далі по коду після об'єктів з класом subheader
та мають той самий рівень вкладеності
*/
.subheader + p {
	color: aqua;
	
}
.img+.text{
	color: pink;
}
.block-text+p{
	color: red;
	}
h5+.paragraph{
	color: yellow;
}