/* Regular 400
Regular 400 Italic
Bold 700
Bold 700 Italic
Black 900
Black 900 Italic 
font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


/* Berndal font, serif */

@font-face {
	font-family: "Berndal";
	src: url("../fonts/BerndalLTStd-Regular.woff2") format("woff2"),
			url("../fonts/BerndalLTStd-Regular.woff") format("woff");
			font-display: swap;
			font-weight: 400;
			font-style: normal;
}

@font-face {
	font-family: "Berndal";
	src: url("../fonts/BerndalLTStd-Italic.woff2") format("woff2"),
			url("../fonts/BerndalLTStd-Italic.woff") format("woff");
			font-display: swap;
			font-weight: 400;
			font-style: italic;
}

@font-face {
	font-family: "Berndal";
	src: url("../fonts/BerndalLTStd-Bold.woff2") format("woff2"),
			url("../fonts/BerndalLTStd-Bold.woff") format("woff");
			font-display: swap;
			font-weight: 700;
			font-style: normal;
}

@font-face {
	font-family: "Berndal";
	src: url("../fonts/BerndalLTStd-BoldItalic.woff2") format("woff2"),
			url("../fonts/BerndalLTStd-BoldItalic.woff") format("woff");
	font-display: swap;
	font-style: italic;
	font-weight: 700;
}




*{
	font-family: "Berndal",serif;
	font-size: 18px;

}
header{
	margin-top: 15px;
	margin-bottom: 25px;
}

header,
footer{
	font-family: Raleway, sans-serif;
	color: grey;
	text-shadow: 2px 2px 2px greenyellow;
	text-decoration: line-through;
}
p.text{
	font-family: "Berndal",serif;
	font-style: italic;
	margin-bottom: 15px;
	line-height: 1.5;
	padding: 0 20px 0;

}
.picture{
	margin-bottom: 25px;
	max-width: 100%;
}
.tittle,
.list.tittle,
.tittle>span{
	font-family: "Raleway",sans-serif;
	font-weight: 900;
	font-size: 22px;
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 3px 3px 3px black;
	color: orangered;
	letter-spacing: 2px;
}

.main.tittle,
.tittle>span{
	font-size: 28px;
	text-transform: uppercase;
}

.main.tittle>span{
	text-decoration: line-through;
	
}
.main.block p.text{
	text-shadow: 2px 2px 7px rgb(210, 75, 12);
}
.contents{
	background-color: rgba(79, 3, 13, 0.911);
	max-width: 500px;
	font-weight: 700;
	padding: 20px;
	margin: 0 auto 25px;
}

.link{
	font-family: "Raleway",sans-serif;
	font-style: italic;
	
}


.list>li{
	text-transform: uppercase;
}

.list.tittle,
.list>li{
	color: rgb(249, 248, 247);
}

.item{
	line-height: 1.5;

}
.sublist>li{
	text-decoration: underline;
	font-weight: 400;
	text-indent: 20px;
	text-transform: lowercase;
}

#certainty>p.text{
	text-indent: 20px;
	font-style: normal;
	text-transform: lowercase;
	text-decoration: underline;
}

.block-text p{
	color: rgb(41, 167, 9);
	font-weight: 700;
	text-align: right;
	word-spacing: 10px;
	text-shadow: 5px 5px 2px rgb(65, 59, 59);
}

#stellar-collisions p{
	color: yellow;
	text-transform: capitalize;
	text-shadow: 1px 1px 1px #000, 
						3px 3px 6px rgb(18, 18, 235); 
}


#black-hole-collisions{
	background-color: rgba(137, 43, 226, 0.833);
	padding-top: 20px;
	max-width: 800px;
	margin: 0 0 0 auto;
}

#black-hole-collisions p{
	text-align: justify;
	color: aliceblue;
	padding-bottom: 20px;
	font-weight: 900;
}

.next.text span{
	color: green;
	font-style: normal;
	font-weight: 700;
	font-family: Raleway, sans-serif;
	text-decoration: line-through;
}

.next.text~p{
	color: red;
	text-shadow: 5px -7px 2px grey;
	letter-spacing: -3px;
	word-spacing: 7px;
}


#possible-triggered-stellar-events .tittle+p{
	color: blue;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	text-shadow: -5px -3px 4px rgb(83, 72, 78);
}

#merger-remnant .tittle span
{
	color: green;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-decoration: overline;
}


.text.color,
.text.color2{
	max-width: 50%;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.text.color{
	background-color: green;
	
}

.text.color2{
	background-color: orangered;
	margin: 0 0 0 auto;
	text-align: right;
}